
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1,5rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.548);
  /* максимальная ширина тела */
  max-width: 2200px;
  /* минимальная ширина тела */
  min-width: 320px;
 /* Картинка для фона */
 background-image: url("../img/фон28.jpg");
 /* Фон при прокрутке остаётся на месте */
 background-attachment: fixed;
 /* Фон  при потери картинки */
 background-color: rgba(0, 255, 64, 0.644);}

html {
    font-size: 15px;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

:root {
    --second-bg-color: #9dd686;/*главный цвет*/
    }
/*Страница*/
.page {
    width: 1000px;
    margin: 20px auto;
    background-color: rgba(207, 231, 163, 0.795);
}
.container {
    display: flex;
    width: 100%;
    max-width: 800px;
}
.header {
    padding:10px 20px;
    background: rgb(49,196,54);
    background: linear-gradient(225deg, rgba(49,196,54,0.8659663694579394) 30%, rgba(49,196,54,0.933193260214242) 35%, rgba(186,163,193,1) 56%, rgba(22,221,230,1) 78%);}

.header-container{
    padding: 10px 20px;
 background: rgb(164,118,169);
background: radial-gradient(circle, rgba(164,118,169,1) 23%, rgba(72,205,179,1) 89%); 


}
.header-title {
    margin: 0;
    font-size: 24px;
    color: rgb(75, 42, 165);
    text-align: center;
}
.header-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: rgb(45, 27, 97);
    text-align: center;
 
}
/*----------------------nav---------------------*/
.nav {
    display: flex;
    justify-content: center;
}
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 15px;
    text-decoration: none;
    color: #fff;

	font-size: 14px;
}

.nav-link:hover {
    color:rgb(106, 212, 212);
    font-size: 16px;
    transition: 0.3s;
}
.section-heading {
padding: 40px 400px;
}

.intro-img {

 /* Ширина */
 width: 150px;
 /* Высота */
 height: 150px;
 /* Скругление углов рамки (делаем круг) */
 border-radius: 100%;
 border: 3px solid #0081fa;
 /* Выравнивание */
 float: justify;
 /* Внешний отступ справа */
 margin-right: 10px;
 /* Тень картинки */
 box-shadow: 0 0 38px 18px rgb(95, 224, 35);
 /* Эффект перехода */
 transition: .2s ease-in-out;
}
.intro-img:hover{
     /* Увеличение */
  transform: scale(1.1);
  /* Тень картинки */
  box-shadow: 0 0 38px 14px rgb(141, 6, 6); 
cursor: pointer;
}
.pro{
    text-align: center;
}
.section-container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
    padding: 30px 180px;
}

.section {
    display: flex;
flex-direction: column;
    padding: 10px 30px 40px;
    background-color: var(--second-bg-color);
    border-radius: 5px;
border: 1px solid #0081fa;
box-shadow: 0 0 6px #0004fa;
}


.content-text{
    margin-bottom: 20px;
}
.content-title {
    align-items: center;
    font-size: 24px;
    text-shadow: 1px 1px 2px red ;
}

.article {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid red;
}
.article-title{
    margin: 0 0 5px;
    font-size: 18px;
    color: blue;
}
.article-date {
    display: block;
    font-size: 1rem;
    color: rgb(90, 29, 29);
}

 /*footer*/
 .footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(49,196,54);
    background: linear-gradient(225deg, rgba(49,196,54,0.8659663694579394) 30%, rgba(49,196,54,0.933193260214242) 35%, rgba(186,163,193,1) 56%, rgba(22,221,230,1) 78%);
    color: #e7e6f7;
    text-align: right;
    font-size: 28px;
    bottom: 0;
  }
  .footer-v {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
  }
  .footer p {
    font-size: 1.5rem;
    font-weight: 700;}
