/* подключение шрифтов из папки */
@font-face{
  font-family: 'Montserra';
  src: local('Montserra');/* подгрузка шрифта */
  src: url(../fonts/MontserratAlternates-Thin.woff);
}
@font-face {
  font-family: 'Montserrat Alternates Thin';
  src: url('MontserratAlternates-Thin.eot');
  src: url('MontserratAlternates-Thin.eot?#iefix') format('embedded-opentype'),
  url('MontserratAlternates-Thin.woff') format('woff'),
  url('MontserratAlternates-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      url("Montserrat-SemiBoldItalic.woff2") format("woff2"),
      url("Montserrat-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    src:
      url("Montserrat-SemiBold.woff2") format("woff2"),
      url("Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    src:
      url("Montserrat-ExtraBold.woff2") format("woff2"),
      url("Montserrat-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

body{
 
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   min-height: 100vh;
   flex-direction: column;
}
html {
  font-family:  'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.6;
    font-size: 15px;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
    overflow-x: hidden;
}
*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: block;
  width: auto;
}


/*исправить в скобках*/
a:not(.not-btn, .you-card-text)::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;

	opacity: 0;

}

a:hover::before {
    width: 100%;
    opacity: 1;
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: block;

  }

/*Header*/
.header-menu{
  width: 100%;
  max-width: 1440px;
  height: 64px;
  margin:auto;
  padding: 8px;
  box-sizing: border-box;
  background: #FFFFFF;
}
.header {
  width: 100%;
  max-width: 1276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #FFFFFF;
  margin: auto;
  gap: 12px;
}
.header-logo-img{
  display: flex;
  align-items: left;
  width: 24px;
  height: 24px;
  opacity: 0px;
}
.header-logo{
  width: 100%;
  max-width: 141px;
  height: 40px;
  display: flex;
  align-items: left;
  justify-content: flex-start;;
  border-radius: 12px;
  opacity: 0px;
	transition: all 0.4s ease-in;

}
.heder-button{
 text-decoration: none;
 display: inline-flex; 
 align-items:center;
position: relative;
}
.heder-button:hover{
  text-decoration: none;

}
.heder-button span{
  width: 85px;/*не тот размер*/
  height: 16px;
  display: block;
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #181C29;
  opacity: 0px;
  text-decoration: none;
}
.header-nav{
  width: 100%; 
  max-width: 376px;
  height: 40px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-direction: row;
  gap: 8px;
  padding-left: 8px;
}
.header-item{
  padding: 12px 20px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #181C29;
  opacity: 0px;
}

.header-item:hover{
  background: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  color: #FF4646;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 }
.header-item-active{
  padding: 12px 20px;
  pointer-events: none;
  background: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  color: #FF4646;
}

/*Hero*/

.section-hero{
  width: 100%;
  max-width: 1440px;
  height: 524px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin:0 auto;
  padding: 60px 8px 60px 8px;
  gap: 20px;
  background-color: #ff4646;
  background-image: url(../img/снег.png);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero-start{
  width: 426px;
  height: 404px;  
  max-width: 426px;
  padding: 60px 0px 60px 0px;
  gap: 12px;
  align-items: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.hero-text{
  width: 426px;
  height: 24px;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 5%;
  color:  #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.hero-title{
  width: 426px;
  height: 144px;
  text-transform:uppercase;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 18%;
  color:  #ffff;
  align-items: center;
  text-align: center;
  flex: none;
}

.hero-btns{
  display: flex;
  gap: 20px;
  text-align: center;
}
.hero-btn{
  width: 235px;
  height: 56px;
  padding: 20px, 32px, 20px, 32px;
  border-radius: 20px;
  background: #181c29;
  color: #ffff;
  text-transform:uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
   letter-spacing: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
animation-timing-function: ease-in-out;
animation-duration: 500ms;

}
.hero-btn:hover{
  background: #ffff;
  color: #181c29;
  text-decoration: none;
}
/*Gifts*/
.section-gifts{
  width: 100%;
  height: 1394px;
  display: flex;
  align-items: center;
  background-color: #ff4646;
  background-image: url(../img/bg-garland.png);
  background-repeat:no-repeat;
  position: relative;
  margin:0 auto;  
  padding: 60px 8px 60px 8px;
border-radius: 20px;
  justify-content: center;
  gap: 20px;
opacity: 0px;
}
.container-gifts {
  width: 1276px;
  height: 1274px;
  max-width: 1276px;
  gap: 20px;
  opacity: 0px;
  display: flex;

  flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.gifts-title{
  width: 426px;
  height: 144px;
  max-width:426px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0px;

}

.gifts-caption-title{
  text-transform:uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height:48px;
  letter-spacing: 18%;
  text-align: center;
  color:#FFFFFF;
  
}
.gifts-nav{
  width:100%;
  max-width:474px;
  height: 40px;
  display: flex;
  gap: 8px;
  opacity: 0px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.gifts-nav-item{
  height: 16px;
  text-transform:uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  color:#FFFFFF;
  letter-spacing: 5%;
  opacity: 0px;
  transition: text-shadow 0.3s ease-in-out;
}
.gifts-item-active{
  padding: 12px 20px;
  text-transform:uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  color:#FFFFFF;
  letter-spacing: 5%;
  opacity: 0px;
  transition: text-shadow 0.3s ease-in-out;

background: rgba(255, 255, 255, 0.2);

border-radius:12px;


}

.gifts-nav-item:hover {
  padding: 12px 20px;
  pointer-events: none;
  background: #FFFFFF;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.2);
}

.gifts-item{
  width: 1276px;
  height: 1050px;
  display: grid;
  gap: 12px;/* растояние между */
  grid-template-columns: repeat(4, 310px);


}

.item-gifts{
  width: 310px;
  height: 343px;
  background-color:#c4e1f7dc;
  border-radius:20px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
opacity: 0px;

}
.best-items-img{
  height: 310px;
  width: 230px;

}

.texst-best{
  width: 310px;
  height: 112px;
  border-radius:20px;
  background-color:#ECF3F8;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
   padding: 20px;
}
.texst-for-work{
  width: 76px;
  height: 16px;
  text-transform:uppercase;
  font-weight: 600;
  font-style: 12px;
  color: #4361ff;
  line-height: 15.6px;
  letter-spacing: 5%;
}
.texst-for-health{
  width: 86px;
  height: 16px;
  text-transform:uppercase;
  font-weight: 600;
  font-style: 12px;
  color: #06a44f;
  line-height: 15.6px;
  letter-spacing: 5%;
}
.texst-for-harmony{
  width: 103px;
  height: 16px;
  text-transform:uppercase;
  font-weight: 600;
  font-style: 12px;
  color: #ff43f7;
  line-height: 15.6px;
  letter-spacing: 5%;
}
.title-best{
  width: 270px;
  height: 24px;
  text-transform:uppercase;
  font-weight: 600;
  font-style: 16px;
  color: #181c29;
  line-height: 24.32px;
  letter-spacing: 8%;
}



/*section-abaut*/
.section-about{
  width: 100%;
  max-width: 1440px;
    height: 648px;
    margin:0 auto;  
    padding: 60px 8px 60px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease;
    background-color: #ff4646;
    background-image: url(../img/снег.png);
    position: relative;
    opacity: 0px;

}
.about-item{
  width: 100%;
  max-width: 1276px;
height:528px;
margin: min(60px, 8px);
display: flex;
align-items: center;
padding: 0px;
width: 100%;
border-radius: 20px;
opacity: 0px;
background: #FFFFFF;
z-index: 0;
}
.about-items{
  width: 100%;
  max-width: 638px;
  height: 528px;
  padding-left:60px;
  padding-right: 60px;
  margin: auto;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
box-sizing: border-box;
    gap: 20px;
    background-color:#FAFAFA;
    border-radius: 20px;

opacity: 0px;

}
.about-desc{
  width: 100%;
  max-width: 426px;
  min-height: 328px;
  max-width: 426px;
  padding-top:60px;
  padding-bottom:60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
 
}
.about-title{
  width: 100%;
max-width: 426px;
min-height: 24px;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: 24px;
  color: #ff4646;
  line-height: 24px;
  letter-spacing: 5%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin: 0px 0px 0px 0px;
}
.about-text{
  width: 100%;
max-width: 426px;
min-height: 72px;
display: flex;
  align-items: flex-start;
  color:#181C29;
  margin: 0px 0px 0px 0px;
}
.about-text-Currently{
  text-transform:uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 36.48px;
  letter-spacing: 16%;
}
.about-text-We{
  font-weight: 400;
  font-size: 16px;
  line-height: 23.68px;
}

.img-santa{
  width: 100%;
  max-width: 638px;
  height: 528px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

/*Live*/
.live{
  width: 100%;
  height: 488px;
  display: flex;
  align-items: center;
  background-color: #ff4646;
  background-image: url(../img/снег.png);
  position: relative;
  margin:0 auto;  
  padding: 60px 8px 60px 8px;
  justify-content: center;
}
.live-item{
  width: 100%;
  max-width:1276px;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}
.live-title{
  width: 100%;
  max-width:426px;
  height: 72px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caption-title{
  width: 100%;
  max-width:426px;
  height: 24px;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: 24px;
  color: #ffff;
  line-height: 24px;
  letter-spacing: 5%;
  text-align: center;
}
.caption-text{
  width: 100%;
  max-width:426px;
  height: 36px;
  color:#FFFFFF;
}
.live-text-caption{
  text-transform:uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 36.48px;
  letter-spacing: 16%;
  text-align: center;
}

.slider-wrapper {

  transform:translateX(-5px);
  }

.slider-container {
  width: 100%;
  max-width:1276px;
  height:200px;
  opacity: 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  gap: 20px;
  }
/*
.slider-cards-wrapper {
   width: 100%;
max-width: 1993px;
height: 200px;
display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
  }*/

  .cards-container {
    display: flex;
    width: 300%;
    transition: all 0.3s ease-out;
  }
  
  /*.card {
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 20px;
  }*/


.card-image img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius:20px;
  transition: 0.7s;
  }

.card-caption-text{
  height: 98px;
  text-transform:uppercase;
  font-weight: 600;
  font-size: 80px;
  line-height: 97.52px;
  text-align: center;
  color:#FFFFFF;
  }
.card-text-caption-liv{
   width: 184px;
  height: 98px;
  }
.card-text-caption-createv{
  width: 330px;
  height: 98px;
  }
.card-text-caption-love{
  width: 224px;
  height: 98px;
  }
.card-text-caption-dream{
  width: 315px;
  height: 98px;
  }


.button-card {
  width: 100%;
  max-width:1276px;
  height:56px;
  gap: 20px;
  opacity: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px, 19px, 23px, 19px;
  mask-repeat:calc(180);
  width: 56px;
  height: 56px;
  border: 1px solid var(--border, #ffffff);
  border-radius: 20px;
  transform: translateY(-35%);
  cursor: pointer;
  transition: 0.3s;
  }
  .slider-arrow-left {
  margin-left: 4px;
  border: 1px solid var(--Static-White-40, #FFFFFF66)
  }
  
  .slider-arrow-right {
  margin-right: 4px;
  }

  @keyframes time-progress-bar {
    from {
      translate: -100% 0;
    }
    to {
      translate: 0 0;
    }
  }
  @media (max-width: 768px) {
    .slider-wrapper {
      margin: 0 10px 40px;
      .slider-wrapper {
        display: none;
      }  }
  }



/*Best Gifts*/

.section-best{
  width: 100%;
  min-height: 554px;
  display: flex;
  align-items: center;
  background-color: #ff4646;
  background-image: url(../img/снег.png);
  position: relative;
  margin:0 auto;  
  padding: 60px 8px 60px 8px;
  justify-content: center;
  overflow: hidden;
}
.container-best {
  width: 100%;
  max-width: 1276px;
  min-height: 434px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
}
.best-title{
  width: 100%;
  max-width: 426px;
  height: 72px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caption-title{
  width: 100%;
  max-width:426px;
  height: 24px;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: 24px;
  color: #ffff;
  line-height: 24px;
  letter-spacing: 5%;
  text-align: center;
}
.caption-text{
  width: 100%;
  max-width:426px;
  height: 36px;
  color:#FFFFFF;  
  display: flex;
  text-align: center;
  text-transform: uppercase;
}
.best-text-caption{
  text-transform:uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 36.48px;
  letter-spacing: 16%;
  text-align: center;
  display: flex;
}

.best-item{
  width: 100%;
  max-width: 1276px;
  min-height: 342px;
  display: grid;
  gap: 12px;/* растояние между */
  grid-template-columns: repeat(4, 310px);
}

.item-best{
  width: 310px;
  height: 342px;
  background-color:#c4e0f6ee;
  border-radius:20px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-best:hover .title-best{
  color: #f04c4c;
  transition: 0.3s;
  cursor:pointer;}

.best-items-img{
  width: 100%;
  max-width: 310px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texst-best{
  width: 100%;
  max-width: 310px;
  height: 112px;
  border-radius:20px;
  background-color:#ECF3F8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 20px;
}
.texst-for-work{
  width: 100%;
  max-width: 150px;
  height: 16px;
  text-transform:uppercase;
  font-weight: 600;
  font-style: 12px;
  color: #4361ff;
  line-height: 15.6px;
  letter-spacing: 5%;
}
.texst-for-health{
  width: 100%;
  max-width: 150px;
  height: 16px;
  text-transform:uppercase;
  font-weight: 600;
  font-style: 12px;
  color: #06a44f;
  line-height: 15.6px;
  letter-spacing: 5%;
}
.texst-for-harmony{
  width: 100%;
  max-width: 150px;
  height: 16px;
  text-transform:uppercase;
  font-weight: 600;
  font-style: 12px;
  color: #ff43f7;
  line-height: 15.6px;
  letter-spacing: 5%;
}
.title-best{
  width: 100%;
  max-width: 270px;
  height: 24px;
  text-transform:uppercase;
  font-weight: 600;
  font-style: 16px;
  color: #181c29;
  line-height: 24.32px;
  letter-spacing: 8%;
}


/*Readey*/
.section-readey{
  width: 100%;
  height: 668px;
  display: flex;
  align-items: center;
  background-color: #ff4646;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  margin:0 auto;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.readey-desc{
  width:100%;
  height: 548px;
  max-width: 1276px;
  border-radius: 20px;
  margin: auto;
  padding: 0 8px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.readey-items{
  width: 100%;
  height: 428px; 
  max-width: 426px;
  padding-top:60px;
  padding-bottom:60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0px;
  justify-content: flex-start;
  align-items: center;
}
.readey-item{
  width: 100%;
  max-width: 426px;
  height: 108px;
  opacity: 0px;
}
.readey-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-align: center;
  color: #ffff;
  text-transform:uppercase;
}
.readey-text-nev{
  width: 100%;
  max-width: 426px;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;
  opacity: 0px;
}
.readey-text{
  width: 100%;
  max-width: 426px;
  height: 24px;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: 24px;
  color: #ffff;
  line-height: 24px;
  letter-spacing: 5%;
  text-align: center;
}
.img-los{
  position: absolute;
  top: 0;
}
.timer{
  display: flex;
  width: 100%;
  max-width: 344px;
  height: 72px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 8px 12px 12px 12px;
  margin-bottom: 60px;
  color: #FFFFFF;
}

.timer li:not(.separator){
  margin-left: 5.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  max-width: 80px;
  height: 52px;
  text-transform: uppercase;
}
.timer li:not(.separator) span {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
.timer .separator{
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
}

/*Footer*/
.footer {
  width:100%;
  min-height: 496px;
  margin:0 auto;  
  padding: 60px 8px 60px 8px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#FAFAFA;
}

.footer-container{
  width: 100%;
  max-width: 1276px;
  min-height: 376px;
  height: auto;
  opacity: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 60px;
}

.footer-cart{
  width: 100%;
  max-width: 1276px;
  min-height: 204px;
  height: auto;
  gap: 12px;
  border-radius: 60px;
  opacity: 0px;
  display: flex;
  grid-template-columns: repeat(3, 310px);

}
.footer-cart-santa:hover{
background-color:rgba(48, 231, 185, 0.568);
box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
cursor:pointer;
transition: 0.3s;

z-index: 10;}

.footer-cart-santa{
  width: 100%;
  max-width: 417.33px;
  height: 204px;
  gap: 12px;
  border-radius: 20px;
  opacity: 0px;
  background: #ECF3F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: 0.3s;
}
.cart-santa-image{
  width: 100%;
  max-width: 80px;
  height: 80px;
}
.footer-cart-santa-title{
  width: 100%;
  max-width: 377.33px;
  height: 36px;
  color:#292929;
}
.footer-cart-santa:hover .footer-cart-title{
  color: #f04c4c;
  transition: 0.3s;
  cursor:pointer;}



.footer-cart-santa:hover .footer-cart-text{
  color: #f04c4c;
  transition: 0.3s;
  cursor:pointer;
}




.footer-cart-title{
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  text-transform:uppercase;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer-cart-text{
  width: 100%;
  max-width: 377.33px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-size: 16px;
  text-transform:uppercase;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 0.08em;
  color: #181C29;
  text-align: center;

}

.footer-contacts{
  width: 100%;
  max-width: 1276px;
  height: 112px;
  gap: 12px;
  opacity: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
 
  cursor:pointer;
  transition: 0.3s;
}
.footer-title:hover{
  color: #f04c4c;
  transition: 0.3s;
  cursor:pointer;
}
.footer-contacts-social{
  width: 100%;
  max-width: 196px;
  height: 40px;
  gap: 12px;
  opacity: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(4, 210px);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.cart-telegram-image{
  width: 100%;
 
}
.cart-telegram-image:hover{
 
  border: 1px dashed green;
  color: #f04c4c;
}
.cart-facebookm-image{
  width: 100%;
  
}
.cart-facebookm-image:hover{

  border: 1px dashed green;
}
.cart-instagram-image{
  width: 100%;
  
}
.cart-instagram-image:hover{
  background-color:rgba(48, 231, 185, 0.568);
  border: 1px dashed green;
}
.cart-tvit-image{
  width: 100%;
  
}
.cart-tvit-image:hover{
  background-color:rgba(48, 231, 185, 0.568);
  border: 1px dashed green;
}

.footer-contacts-title{
  width: 100%;
  max-width: 301px;
  height: 24px;
}
.footer-title{
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  color: #181C29;
  text-align:center;
}

.footer-text{
  width: 100%;
  max-width: 295px;
  height: 24px;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: 24px;
  color:#181C29;
  line-height: 24px;
  letter-spacing: 5%;
  text-align: center;
  margin-top: auto;
}
.footer-text:hover{
  color: #f04c4c;
  transition: 0.3s;
  cursor:pointer;
}
;
}
